* {
  margin: 0;
  padding: 0;
}



.App{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 100vh;
  min-height: 80vh;
  background-color: rgb(37 66 74);
  border: solid 4px white;
  border-radius: 10px;
  padding: 10px;
}





@media (max-width: 650px){
  .App{
    width: 90%;
    height: 100%;
  }


}